    <div class="hy-head-menu ">
        <div class="container">
            <div class="row">
                <div class="item">
                    <div class="logo pull-left">
                        <a class="hidden-sm hidden-xs" href="{maccms:path}"><img src="{maccms:path_tpl}i/img/logo.png" width="145" height="50"></a>
                        <a class="visible-sm visible-xs" href="{maccms:path}" style="margin: 3px 0 0 8px"><img src="{maccms:path_tpl}i/img/logo_min.png" width="77" height="30"></a></div>
						
						
                     
                    <div class="search pull-right hidden-sm">
                        <form name="formsearch" id="formsearch" action='{maccms:link_search_vod}' method="post" autocomplete="off">
                            <input class="form-control" placeholder="输入影片关键词..." name="wd" type="text" id="wd" required="">
                            <input type="submit" id="searchbutton" value="" class="hide"><a href="javascript:" class="btns" title="搜索" onClick="$('#formsearch').submit();"><i class="icon iconfont icon-search"></i></a></form>
                    </div>
					 
                    <ul class="menulist hidden-xs">
                        <li{if-A:{maccms:siteaid}==10} class="active"{endif-A}><a href="{maccms:path}">首页</a></li>{maccms:menu type=parent}
                        <li{if-A:{maccms:curvodtypeid}==[menu:id]} class="active" {endif-A}{if-A:{maccms:curvodtypepid}==[menu:id]} class="active" {endif-A}{if-A:[menu:id]=[vod:typepid]} class="active"{endif-A}><a href="[menu:link]">  [menu:name]</a></li>{/maccms:menu}
                    </ul>
                </div>
            </div>
        </div>
    </div>