
		<div class="hy-gototop hidden-sm hidden-xs">
	<ul class="item clearfix">

		<li><a href="javascript:scroll(0,0)" title="返回顶部"><i class="icon iconfont icon-uparrow"></i></a></li>
	</ul>
</div>
<div class="tabbar" id="menu_foot"><a href="{maccms:path}" class="item" {if-A:{maccms:curvodtypeid} < 1 } style="color:red" {endif-A} ><i class="icon iconfont icon-home"></i><p class="text">首页</p></a>
<a href="?m=vod-type-id-1.html" class="item" {if-A:{maccms:curvodtypeid} == 1 } style="color:red" {endif-A} ><i class="icon iconfont icon-film"></i><p class="text">电影 </p></a>
<a href="?m=vod-type-id-2.html" class="item" {if-A:{maccms:curvodtypeid} == 2 } style="color:red" {endif-A} ><i class="icon iconfont icon-show"></i><p class="text">电视剧 </p></a>
<a href="?m=vod-type-id-3.html" class="item" {if-A:{maccms:curvodtypeid} == 3 } style="color:red" {endif-A} ><i class="icon iconfont icon-flag"></i><p class="text">综艺 </p></a>
<a href="?m=vod-type-id-4.html" class="item" {if-A:{maccms:curvodtypeid} == 4 } style="color:red" {endif-A} ><i class="icon iconfont icon-mallanimation"></i><p class="text">动漫 </p></a>

<a href="{maccms:link_topic_vod}" class="item"><i class="icon iconfont icon-update text-color"></i><p class="text">豆瓣专题</p></a>
</div>
<div class="container">
	<div class="row">
		<div class="hy-footer clearfix">
			<p class="text-muted hidden-sm hidden-xs">本网站内容收集于互联网，{maccms:name}不承担任何由于内容的合法性及健康性所引起的争议和法律责任。 欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。</p>
                <p class="text-muted">Copyright @ 2018 {maccms:name} - {maccms:url}-{maccms:visits}</p>
		</div>
	</div>
</div>
