    <!--<div class="hy-head-menu ">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="item">-->
                    <!--<ul class="menulist hidden-xs">-->
                        <!--<li{if-A:{maccms:siteaid}==10} class="active"{endif-A}><a href="{maccms:path}">首页</a></li>{maccms:menu type=parent}-->
                        <!--<li{if-A:{maccms:curvodtypeid}==[menu:id]} class="active" {endif-A}{if-A:{maccms:curvodtypepid}==[menu:id]} class="active" {endif-A}{if-A:[menu:id]=[vod:typepid]} class="active"{endif-A}><a href="[menu:link]">  [menu:name]</a></li>{/maccms:menu}-->
                        <!--<li><a href="javascript:()" title="观看记录" id="history"><i class="icon iconfont icon-record1 text-color"></i><span>观看记录</span></a></li>-->

                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<div class="hy-head-menu ">
    <!--<div class="nav_bar" style="width:100%;height:50px;">-->

        <!--<div class="nav_bar" style="position:fixed;z-index:999;width:100%;height:50px;">-->
            <!--<div class="top_gg">-->
                <!--<span class="domain"><div id="logo">sinaav.com</div></span><div class="nav_bar_r1">|&nbsp;&nbsp;請使用Ctrl+D進行收藏本站!&nbsp;&nbsp;|&nbsp;&nbsp;电脑/Ipad/手机在线播放&nbsp;&nbsp;|&nbsp;&nbsp;-->
            <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
    <div class="nav_bar" style="width:100%;text-align:left">

        <div class="wrap">
            <ul class="nav_menu" style=" height:60px">

                <li><a href="/">网站首页</a></li>
                {maccms:menu type=parent num=7}
                <li><a href="[menu:link]">[menu:name]</a>
                {/maccms:menu}
            </ul>
        </div>
    </div>

    <!--<div class="nav_bar" style="width:100%;text-align:left">-->

        <!--<div class="wrap">-->
            <!--<ul class="nav_menu" style=" height:60px">-->
                <!--<li><a href="/Html/89/">自拍偷拍</a></li>-->
                <!--<li><a href="/Html/87/">夫妻同房</a></li>-->
                <!--<li><a href="/Html/93/">开放90后</a></li>-->
                <!--<li><a href="/Html/90/">换妻游戏</a></li>-->
                <!--<li><a href="/Html/91/">网红主播</a></li>-->
                <!--<li><a href="/Html/88/">手机小视频</a></li>-->
                <!--<li><a href="/Html/92/">明星艳照门</a></li>-->
                <!--<li><a href="/Html/109/">经典三级</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="nav_bar" style="width:100%;text-align:left">-->

        <!--<div class="wrap">-->
            <!--<ul class="nav_menu" style=" height:60px">-->
                <!--<li></li><li><a href="/Html/100/">S级女优</a></li>-->
                <!--<li><a href="/Html/94/">波多野结衣</a></li><li><a href="/Html/95/">吉泽明步</a></li><li><a href="/Html/96/">苍井空</a></li><li><a href="/Html/128/">宇都宮紫苑</a></li><li><a href="/Html/98/">天海翼</a></li><li><a href="/Html/127/">水菜麗</a></li><li><a href="/Html/123/">泷泽萝拉</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="nav_bar" style="width:100%;text-align:left">-->

        <!--<div class="wrap">-->
            <!--<ul class="nav_menu" style=" height:60px">-->
                <!--<li><a href="https://www.992bt.com" target="_blank">下载区 </a></li>-->
                <!--<li><a href="https://www.992bt.com/sort-1-1.html" target="_blank">无码BT</a></li><li><a href="https://www.992bt.com/sort-2-1.html" target="_blank">有码BT</a></li><li><a href="https://www.992bt.com/sort-4-1.html" target="_blank">SM 系列</a></li><li><a href="https://www.81hgvip.com/main.html" target="_blank">皇冠正网</a></li><li><a href="https://www.81hgvip.com/main.html" target="_blank">皇冠赌场</a></li><li><a href="https://www.18tycvip.com/main.html?m=reg" target="_blank">澳门太阳城</a></li><li><a href="https://www.18tycvip.com/main.html?m=reg" target="_blank">太阳城赌场</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="nav_bar" style="width:100%;text-align:left">-->

        <!--<div class="wrap">-->
            <!--<ul class="nav_menu" style=" height:60px">-->
                <!--<li><a href="/Html/110/">无码在线</a></li>-->
                <!--<li><a href="/Html/111/">熟女人妻</a></li><li><a href="/Html/112/">美颜巨乳</a></li><li><a href="/Html/113/">颜射吃精</a></li><li><a href="/Html/114/">丝袜制服</a></li><li><a href="/Html/130/">高清无码</a></li><li><a href="/Html/131/">中字有码</a></li><li><a href="/help.html">帮助教程</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

</div>