<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <div class="wrapper">
<div class="mask" id="mask_box"></div>
<header class="headerbar">
      <section class="headBox">
       <a class="pull-left logo" href="" title="">
          <i>
            <img src="/templets/hanjutv-m/images/logo.png" alt="" title=""></i>
        </a>
        <a href="/m/index.php?m=user-index.html" rel="nofollow" class="app_down pull-right">
          <span>{maccms:username}</span></a>
        <a href="/m/" rel="nofollow" class="zui-icon iconfont icon-lishijilu pull-right"></a>
        <a href="/m/index.php?m=vod-search" rel="nofollow" class="zui-icon iconfont icon-sousuo pull-right"></a>
      </section>
</header>
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<link href="{maccms:path}template/user/css/login.css" type="text/css" rel="stylesheet"/>
<link href="{maccms:path}template/user/css/reset_6331b55cbd48f0e4f85b0ee87cb10e50.css" rel="stylesheet">
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script type="text/javascript">var Root='{maccms:path}';var Sid='';var Cid='';var Id='';</script>
<link href="{maccms:path_tpl}/images/icon.jpg" rel="apple-touch-icon-precomposed">
<link href="{maccms:path_tpl}/images/icon.jpg" rel="apple-touch-icon">
<link href="{maccms:path_tpl}/css/global.css" rel="stylesheet" type="text/css">
<link href="{maccms:path_tpl}/css/font_css.css" rel="stylesheet" type="text/css">
<link href="{maccms:path_tpl}/css/main.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta content="telephone=no" name="format-detection">
        <meta name="Keywords" content="">
        <meta name="Description" content="">

        <link href="{maccms:path}template/user/css/reset_6331b55cbd48f0e4f85b0ee87cb10e50.css" rel="stylesheet">
        <link href="{maccms:path}template/user/css/all_7cd6a06ffa0fb13c21f71ba788236445.css" rel="stylesheet">

        <title>会员首页 - 会员中心 -{maccms:name}</title>
    </head>
<body>
  
        <!--头部-->
        <div id="mainContent"><div data-reactid=".0">
          <div class="usercenter-top" data-reactid=".0.0.1">
            <div class="usercenter-bg" data-reactid=".0.0.1.0.0"><div class="avatar-box">
              <img class="user-avatar" src="/m/template/user/images/default_avatar.jpg">
              </div>
              <p class="user-name">{maccms:username}</p>
  
            </div>
            <div class="usercenter-count" data-reactid=".0.0.1.1">
			<a class="user-money" href="javascript:void(0)" data-reactid=".0.0.1.1.0">
              <p class="count">{u_points}</p><p class="title">我的积分</p></a>
              <a class="user-packet" href="javascript:void(0)" data-reactid=".0.0.1.1.1">
                <p class="count" data-reactid=".0.0.1.1.1.0">{ug_name}</p><p class="title" data-reactid=".0.0.1.1.1.1">等级</p></q>
<a class="user-ticket" href="javascript:void(0)http://m.focus.cn/user/myticket/" data-reactid=".0.0.1.1.2">
              <p class="count">{u_flag}</p><p class="title" data-reactid=".0.0.1.1.2.1">计费类型</p></q>
            </div>
          </div>
          <div class="usercenter-list" data-reactid=".0.0.2"><div class="usercenter-list-p1" data-reactid=".0.0.2.0">
            <div class="item-box"><a class="list-item clearfix" href="{maccms:path}index.php?m=user-info.html">
              <span class="item-icon user-icon" data-reactid=".0.0.2.0.0.0.0"></span><span class="item-title">我的资料</span>
              <span class="item-arrow" data-reactid=".0.0.2.0.0.0.2"></span><span class="item-tips">修改资料</span></a>
            <a class="list-item clearfix" href="{maccms:path}index.php?m=user-fav.html">
            <span class="item-icon guanzhu-icon"></span><span class="item-title">我的收藏</span>
              <span class="item-arrow"></span>
            </a>
            <a class="list-item clearfix" href="{maccms:path}index.php?m=user-plays.html">
            <span class="item-icon bofangjilu-icon"></span><span class="item-title">播放记录</span>
              <span class="item-arrow"></span>
            </a>
			<a class="list-item clearfix" href="{maccms:path}index.php?m=user-pay.html">
            <span class="item-icon chongzhi-icon"></span><span class="item-title">充值积分</span>
              <span class="item-arrow"></span>
            </a>
            <a class="list-item clearfix" href="{maccms:path}index.php?m=user-upgrade.html">
            <span class="item-icon uservip-icon"></span><span class="item-title">升级权限</span>
              <span class="item-arrow"></span>
            </a>

              </div>
            </div></div><footer data-reactid=".0.0.4">
          <div class="footer-nav" data-reactid=".0.0.4.0"><div class="footer-os" data-reactid=".0.0.4.0.0">
        
            
          </div><div class="footer-company">Copyright © 2017 {maccms:visits}</div></footer></div></div></div>
    
<script type="text/javascript"> 
     /*创建于2016-06-14*/ 
     var cpro_id = "u2671677";
</script>

</body>
</html>