<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>登录页面-{maccms:name}</title>
    <link rel="icon" href="/favicon.ico">
    <!-- Bootstrap -->
    <script src="http://apps.bdimg.com/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="{maccms:path}template/user/css/user.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
.topad,.leftadch,.rightadch {display:none!important;display:none}</style>
<script type="text/javascript">
$(function(){	
	$("body").bind('keyup',function(event) {
		if(event.keyCode==13){ $('#btnLogin').click(); }
	}); 
	$('#btnLogin').click(function() {
		if ($('#u_name').val()  == '') { alert('请输入用户！'); $("#u_name").focus(); return false; }
		if ($('#u_password').val()  == '') { alert('请输入密码！'); $("#u_password").focus(); return false; }
		$("#form1").submit();
	});
});
</script>
</head>
<body>
    <div class="container">
        <form class="form_sign" id="loginform_web" role="form" action="index.php?m=user-check.html" method="post">
  <input id="flag" name="flag" type="hidden" value="center">
  <h3 class="header">用户登录</h3>
            <div class="form-group">
                <label for="email">账号：</label>
                <input type="text" class="form-control" id="u_name" name="u_name" placeholder="注册的账号">
            </div>
            <div class="form-group">
                <label for="pwd">密码：</label>
                <input type="password" class="form-control" id="u_password" name="u_password" placeholder="注册的密码">
            </div>
            <div class="form-group">
                特别注意：由于浏览器不通用，所有你在这个浏览器登录，在另个浏览器打开还会提示未登录。
            </div>
            <div class="checkbox">
                <label>
                    <input name="remember" value="1" type="checkbox" id="remember" checked="checked"> 记住登录(7天)
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">确认信息</button>
            <a class="extra" href="index.php?m=user-reg.html">还没账号>>>注册</a><a class="extra" href="/">回到首页</a>
        </form>
    </div>
</body>
</html>