    <link rel="dns-prefetch" href="//apps.bdimg.com/">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="{maccms:path_tpl}i/img/favicon.png" type="image/x-icon" />
    <link href="{maccms:path_tpl}i/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	
	<link href="{maccms:path_tpl}i/css/style.css" rel="stylesheet">
	<link href="{maccms:path_tpl}i/css/CSS3style.css" rel="stylesheet">

	
    <link href="{maccms:path_tpl}i/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="{maccms:path_tpl}i/css/app.css" rel="stylesheet" type="text/css" />
	<link href="{maccms:path_tpl}i/css/color.css" rel="stylesheet" type="text/css" />
    <link href="{maccms:path_tpl}i/css/style.min.css" rel="stylesheet" type="text/css" />
    <script src="{maccms:path_tpl}i/css/jquery.min.js"></script>
    <script src="{maccms:path_tpl}i/css/bootstrap.min.js"></script>
    <script src="{maccms:path_tpl}i/css/jquery.lazyload.js"></script>
    <script src="{maccms:path_tpl}i/css/swiper.jquery.min.js"></script>
    <script src="{maccms:path_tpl}i/js/home.js"></script>
    <script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
    <!--[if lt IE 9]>
        <script src="{maccms:path_tpl}i/css/html5shiv.min.js"></script>
        <script src="{maccms:path_tpl}i/css/respond.js"></script>
    <![endif]-->