<html>

<head>
    <meta charset="utf-8" />
    <title>留言版</title>
    <meta name="keywords" content="免费在线电影、电视剧" />
    <meta name="description" content="{maccms:des}" />
        <link rel="dns-prefetch" href="//apps.bdimg.com/">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/template/nec/i/img/favicon.png" type="image/x-icon" />
    <link href="/template/nec/i/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/template/nec/i/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="/template/nec/i/css/app.css" rel="stylesheet" type="text/css" />
	<link href="/template/nec/i/css/color.css" rel="stylesheet" type="text/css" />
    <link href="/template/nec/i/css/style.min.css" rel="stylesheet" type="text/css" />
	<link href="/template/nec/i/css/qin52.css" rel="stylesheet" type="text/css" />
	<script src="/template/nec/i/css/jquery.min.js"></script>
    <script src="/template/nec/i/css/bootstrap.min.js"></script>
    <script src="/template/nec/i/css/jquery.lazyload.js"></script>
    <script src="/template/nec/i/css/swiper.jquery.min.js"></script>
    <script src="/template/nec/i/js/home.js"></script>
    <script>var SitePath='/',SiteAid='13',SiteTid='',SiteId='';</script>
    <!--[if lt IE 9]>
        <script src="//ss.qin52.cn/a/html5shiv.min.js"></script>
        <script src="//ss.qin52.cn/a/respond.js"></script>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 9]><div class="itips-ie"><i class="am-icon-chain-broken"></i> 为了更好的观影，请升级或更新您的浏览器至<a href="http://se.360.cn/" target="_blank">360浏览器</a>或<a href="http://browsehappy.com/" target="_blank">Chrome</a>。</div><![endif]-->
    <div class="hy-head-menu">
        <div class="container">
            <div class="row">
                <div class="item">
                    <div class="logo">
                        <a class="hidden-sm hidden-xs" href="/"><img src="/template/nec/i/img/logo.png" width="145" height="50"></a>
                        <a class="visible-sm visible-xs" href="/"><img src="/template/nec/i/img/logo_min.png" width="145" height="50"></a>
                    </div>
                    <div class="search hidden-sm">
                        <form name="formsearch" id="formsearch" action='/index.php?m=vod-search' method="post" autocomplete="off">
                            <input class="form-control" placeholder="输入影片关键词..." name="wd" type="text" id="wd" required="">
                            <input type="submit" id="searchbutton" value="" class="hide"><a href="javascript:" class="btns" title="搜索" onClick="$('#formsearch').submit();"><i class="icon iconfont icon-search"></i></a></form>
                    </div>
                   <ul class="menulist hidden-xs">
                        <li{if-A:{maccms:siteaid}==10} class="active"{endif-A}><a href="{maccms:path}">首页</a></li>{maccms:menu type=parent}
                        <li{if-A:{maccms:curvodtypeid}==[menu:id]} class="active" {endif-A}{if-A:{maccms:curvodtypepid}==[menu:id]} class="active" {endif-A}{if-A:[menu:id]=[vod:typepid]} class="active"{endif-A}><a href="[menu:link]">  [menu:name]</a></li>{/maccms:menu}
						<li{if-A:{maccms:siteaid}==10} class=" "{endif-A}><a href="{maccms:link_topic_vod}">豆瓣推荐专题</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="hy-layout clearfix">
                <div class="hy-topic-list clearfix">
                 <!--留言开始-->
<div class="cmt_msg" id="cmt_msg">
	<form class="cmt_form clearfix" action="{maccms:path}index.php?m=gbook-save" method="post">
		<input type="hidden" id="g_rid" name="g_rid" value="">
		<a class="face_wrap fl" href="javascript:;"><img class="face" src="{maccms:path_tpl}images/duface.png"></a>
		<div class="input_wrap fl clearfix">
				<textarea id="g_content" name="g_content" class="fl"  onKeyup="MAC.Remaining(this,200,'g_remaining')" onfocus="if(this.value=='请在这里发表您的个人看法，最多200个字。'){this.value='';}" onblur="if(this.value==''){this.value='请在这里发表您的个人看法，最多200个字。';};"	>请在这里发表您的个人看法，最多200个字。</textarea>
			<p class="fl clearfix">
				
				<span class="remaining fr" id="g_remaining">200</span>
			</p>
		</div>
		<p class="smt_wrap fl clearfix">
			<span class="total fl">共<em id="item_count">{maccms:count_gbook_all}</em>条留言，今日<em>{maccms:count_gbook_day}</em>条留言。</span>
			<span class="fr clearfix">
				<span id="g_login" style="display: none;">
					<span></span>
				</span>
				昵称:<input class="cmt_text" id="g_name" name="g_name" type="text" value="游客">{if-A:{maccms:gbookverify}==1} 验证码:<input type="text" id="g_code" name="g_code" class="cmt_text"/>&nbsp;&nbsp;<img id="g_code_img" class="cmt_verify" src="{maccms:path}inc/common/code.php?a=gbook&s=" title="看不清楚? 换一张！" onClick="src='{maccms:path}inc/common/code.php?a=gbook&s='+Math.random()"/>{endif-A}
				<input class="cmt_post" type="submit" value="发布" >
			</span>
		</p>
	</form>
	
	<div class="cmt_wrap" >
		{if-A:{page:datacount}==0}
		<center><h3> 暂无留言，快来抢沙发吧！</h3></center>
		{else-A}
		{maccms:gbook pagesize=10 order=desc by=time}
		<div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="{maccms:path_tpl}images/duface.png"></a>
			<div class="item_con fl">
				<p class="top">
					<span class="fr" style="padding-right: 11px;">[gbook:time style=Y-m-d H:i:s]</span>
					<a class="name" href="javascript:;">[gbook:name]</a>
					(<a target="_blank">[gbook:ip]</a>)
				</p>
				{if-B:!isN("[gbook:reply]")}
				<div class="cmt_item inner" ><p class="top"><span class="fr" style="padding-right: 11px;">[gbook:replytime style=Y-m-d H:i:s]</span><a class="name" href="javascript:;">管理员回复：</a></p><p class="con">[gbook:reply]</p><div class="bottom clearfix" style="visibility: hidden;"><ul class="fr clearfix"><li> </li></ul></div></div>
				{endif-B}
				<p class="con">[gbook:content]</p>
				
			</div>
		</div>
		{/maccms:gbook}
		
		<div class="page">{maccms:pages len=6}</div>
		{endif-A}
	 	</div>
	
</div>
<!--留言结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
		 {maccms:foot}

</body>
</html>

