
		<div class="hy-gototop hidden-sm hidden-xs">
	<ul class="item clearfix">
		<li><a href="?m=user-index.html" title="会员中心"><i class="icon iconfont icon-member1"></i></a></li>
		<li><a href="?m=gbook-show.html" title="留言求片"><i class="icon iconfont icon-comment"></i></a></li>
		<li>
			<a href="javascript:()" title="观看记录" id="history"><i class="icon iconfont icon-record1"></i></a>
		</li>	
		<li>
			<a href="javascript:()"  title="二维码"><i class="icon iconfont icon-code1"></i></a>
			<div class="code clearfix">
				<p class="margin-0"><img class="pic-responsive" src="http://qr.liantu.com/api.php?&w=200&text=http://{maccms:url}{maccms:path}" alt="扫描二维码" /></p>					
			</div>
		</li>
		<li><a href="javascript:scroll(0,0)" title="返回顶部"><i class="icon iconfont icon-uparrow"></i></a></li>
	</ul>
</div>
<div class="tabbar visible-xs"><a href="{maccms:path}" class="item"><i class="icon iconfont icon-home"></i><p class="text">首页</p></a>
<a href="?m=vod-type-id-1.html" class="item"><i class="icon iconfont icon-film"></i><p class="text">电影 </p></a>
<a href="?m=vod-type-id-2.html" class="item"><i class="icon iconfont icon-show"></i><p class="text">电视剧 </p></a>
<a href="?m=vod-type-id-3.html" class="item"><i class="icon iconfont icon-flag"></i><p class="text">综艺 </p></a>
<a href="?m=vod-type-id-4.html" class="item"><i class="icon iconfont icon-mallanimation"></i><p class="text">动漫 </p></a>

<a href="{maccms:link_topic_vod}" class="item"><i class="icon iconfont icon-update text-color"></i><p class="text">专题</p></a>
</div>
<div class="container">
	<div class="row">
		<div class="hy-footer clearfix">
			<p class="text-muted hidden-sm hidden-xs">本网站内容收集于互联网，{maccms:name}不承担任何由于内容的合法性及健康性所引起的争议和法律责任。 欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。</p>
                <p class="text-muted">Copyright @ 2018 {maccms:name} - {maccms:url}-{maccms:visits}</p>
			<p class="visible-xs"><a class="text-muted" href="?m=gbook-show.html" title="留言求片">留言求片</a></p>
		</div>
	</div>
</div>
