<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{page:name}-{maccms:name}</title>
    <meta name="keywords" content="{maccms:keywords}" />
    <meta name="description" content="{maccms:description}" />
    {maccms:include}
</head>

<body>
{maccms:head}
    <!--main-->
    <div class="container">
        <div class="row">
            <!--推荐影片-->{maccms:matrix type={maccms:curvodtypeid}} {if-A:{maccms:curvodtypeid}==1}
            <div class="hy-layout clearfix">
                <div class="clearfix">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="swiper-container hy-slide">
                            <div class="swiper-wrapper">{maccms:vod num=3 by=time type=1 level=1}
                                <div class="swiper-slide">
                                    <div class="hy-video-slide"><a class="videopic" href="[vod:link]" title="[vod:name]" style="padding-top: 60%; background: url([vod:picslide])  no-repeat; background-position:50% 50%; background-size: cover;"><span class="title">[vod:name]</span></a></div>
                                </div>{/maccms:vod}
                            </div>
                            <div class="swiper-button-next hidden-xs"><i class="icon iconfont icon-right"></i></div>
                            <div class="swiper-button-prev hidden-xs"><i class="icon iconfont icon-back"></i></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12" style="padding: 10px 0 0;">
                        <div class="hy-index-tags clearfix">
                            <div class="item clearfix">
                                <ul class="clearfix">
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-6.html">喜剧片</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-周星驰.html">周星驰</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-成龙.html">成龙</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-刘德华.html">刘德华</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-5.html">动作片</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-史泰龙.html">史泰龙</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-8.html">科幻片</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-李连杰.html">李连杰</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-杰森·斯坦森.html">杰森·斯坦森</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-1-year-2018.html">2018</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-1-area-美国.html">好莱坞</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-9.html">恐怖片</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="hidden-sm hidden-xs clearfix">
                            <div class="hy-video-min-head hidden-md">
                                <a href="#" class="pull-right text-muted">更多<i class="icon iconfont icon-right"></i></a>
                                <h4><i class="icon iconfont icon-top text-color"></i>电影排行榜</h4>
                            </div>
                            <div class="clearfix">
                                <div class="col-lg-4 hidden-md">
                                    <div class="hy-video-list">{maccms:vod num=1 type=1 by=dayhits}
                                        <div class="item">
                                            <a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="background: url({maccms:path_tpl}i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span></a>
                                        </div>{/maccms:vod}
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 padding-0">
                                    <div class="hy-video-ranking clearfix" style="padding:0 10px 10px;">
                                        <div class="item">
                                            <ul class="clearfix">
                                                {maccms:vod num=7 type=1 by=dayhits}
                                                <li class="text-overflow{if-B:[vod:num]>6} hidden-md{endif-B}"><span class="pull-right text-color">[vod:score]</span><a href="[vod:link]" title="[vod:name]"><em class="number{if-B:[vod:num]<4} active{endif-B}">[vod:num]</em>[vod:name]</a></li>{/maccms:vod}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {elseif-A:{maccms:curvodtypeid}==2}
            <div class="hy-layout clearfix">
                <div class="clearfix">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="swiper-container hy-slide">
                            <div class="swiper-wrapper">{maccms:vod num=3 by=time type=2 level=2}
                                <div class="swiper-slide">
                                    <div class="hy-video-slide"><a class="videopic" href="[vod:link]" title="[vod:name]" style="padding-top: 60%; background: url([vod:picslide])  no-repeat; background-position:50% 50%; background-size: cover;"><span class="title">[vod:name]</span></a></div>
                                </div>{/maccms:vod}
                            </div>
                            <div class="swiper-button-next hidden-xs"><i class="icon iconfont icon-right"></i></div>
                            <div class="swiper-button-prev hidden-xs"><i class="icon iconfont icon-back"></i></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12" style="padding: 10px 0 0;">
                        <div class="hy-index-tags clearfix">
                            <div class="item clearfix">
                                <ul class="clearfix">
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-14.html">韩剧</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-2-class-28.html">谍战</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-刘涛.html">刘涛</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-张嘉译.html">张嘉译</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-13.html">国产剧</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-蒋欣.html">蒋欣</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-张国强.html">张国强</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-杨紫.html">杨紫</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-13-year=2018.html">2018新剧</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-2-class-22.html">古装</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-list-id-2-class-19.html">偶像</a></li>
                                    <li><a class="text-overflow" href="{maccms:path}index.php?m=vod-search-starring-鹿晗.html">鹿晗</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="hidden-sm hidden-xs clearfix">
                            <div class="hy-video-min-head hidden-md">
                                <a href="{maccms:getlink top.html}" class="pull-right text-muted">更多<i class="icon iconfont icon-right"></i></a>
                                <h4><i class="icon iconfont icon-top text-color"></i>电视排行榜</h4>
                            </div>
                            <div class="clearfix">
                                <div class="col-lg-4 hidden-md">
                                    <div class="hy-video-list">{maccms:vod num=1 type=2 by=dayhits}
                                        <div class="item">
                                            <a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="background: url({maccms:path_tpl}i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span></a>
                                        </div>{/maccms:vod}
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 padding-0">
                                    <div class="hy-video-ranking clearfix" style="padding:0 10px 10px;">
                                        <div class="item">
                                            <ul class="clearfix">
                                                {maccms:vod num=7 type=2 by=dayhits}
                                                <li class="text-overflow{if-B:[vod:num]>6} hidden-md{endif-B}"><span class="pull-right text-color">[vod:score]</span><a href="[vod:link]" title="[vod:name]"><em class="number{if-B:[vod:num]<4} active{endif-B}">[vod:num]</em>[vod:name]</a></li>{/maccms:vod}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {elseif-A:{maccms:curvodtypeid}==3}
            <div class="hy-layout clearfix">
                <div class="clearfix">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="swiper-container hy-slide">
                            <div class="swiper-wrapper">{maccms:vod num=3 by=time type=3 level=3}
                                <div class="swiper-slide">
                                    <div class="hy-video-slide"><a class="videopic" href="[vod:link]" title="[vod:name]" style="padding-top: 60%; background: url([vod:picslide])  no-repeat; background-position:50% 50%; background-size: cover;"><span class="title">[vod:name]</span></a></div>
                                </div>{/maccms:vod}
                            </div>
                            <div class="swiper-button-next hidden-xs"><i class="icon iconfont icon-right"></i></div>
                            <div class="swiper-button-prev hidden-xs"><i class="icon iconfont icon-back"></i></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12 padding-0">
                        <div class="hy-video-list clearfix">
                            <div class="item clearfix">{maccms:vod num=6 type=3 by=time}
                                <div class="col-md-4 col-sm-4 col-xs-6 {if-B:[vod:num]>8}visible-sm{endif-B}">
                                    <a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="padding-top: 62.5%; display: block; background: url({maccms:path_tpl}i/img/load.gif) 50% 50% / cover no-repeat;"><span class="play hidden-xs"></span><span class="note textbg">[vod:name]</span></a>
                                </div>{/maccms:vod}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {elseif-A:{maccms:curvodtypeid}==4}
            <div class="hy-layout clearfix">
                <div class="clearfix">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="swiper-container hy-slide">
                            <div class="swiper-wrapper">{maccms:vod num=3 by=time type=4 level=4}
                                <div class="swiper-slide">
                                    <div class="hy-video-slide"><a class="videopic" href="[vod:link]" title="[vod:name]" style="padding-top: 60%; background: url([vod:picslide])  no-repeat; background-position:50% 50%; background-size: cover;"><span class="title">[vod:name]</span></a></div>
                                </div>{/maccms:vod}
                            </div>
                            <div class="swiper-button-next hidden-xs"><i class="icon iconfont icon-right"></i></div>
                            <div class="swiper-button-prev hidden-xs"><i class="icon iconfont icon-back"></i></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12 padding-0">
                        <div class="hy-video-list clearfix">
                            <div class="item clearfix">{maccms:vod num=6 type=4 by=time}
                                <div class="col-md-3 col-sm-3 col-xs-4  {if-B:[vod:num]>4}visible-sm hidden-sm{endif-B}">
                                    <a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="background: url({maccms:path_tpl}i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">[vod:remarks]</span></a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="[vod:link]">[vod:name]</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">[vod:starring]</div>
                                </div>{/maccms:vod}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {else-A}
            <div class="hy-layout clearfix">
                <div class="clearfix">
                    <div class="col-sm-12 col-xs-12">
                        <div class="swiper-container hy-switch swiper-container-horizontal">
                            <div class="swiper-wrapper">{maccms:vod num=10 order=commend type={maccms:curvodtypeid}}
                                <div class="swiper-slide">
                                    <div class="hy-video-slide"><a class="videopic" href="[vod:link]" title="[vod:name]" style="background: url([vod:pic])  no-repeat; background-position:50% 50%; background-size: cover;"><span class="title">[vod:name]</span></a></div>
                                </div>{/maccms:vod}</div>
                            <div class="swiper-button-next hidden-xs"><i class="icon iconfont icon-right"></i></div>
                            <div class="swiper-button-prev hidden-xs"><i class="icon iconfont icon-back"></i></div>
                            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            {endif-A} {/maccms:matrix}
            <!--end 推荐影片-->
            <div class="hy-layout clearfix">
                <div class="hy-min-screen clearfix">
                    <div class="item clearfix">
                        <dl class="clearfix">
                            <dt class="text-muted">按剧情</dt>
                            <dd class="clearfix">{maccms:class type=auto}<a href="[class:link]">[class:name]</a>{/maccms:class}</dd>
                        </dl>
                        <dl class="cleafix">
                            <dt class="text-muted">按年份</dt>
                            <dd class="clearfix">{maccms:year order=desc type=auto start=2006 end=2018}<a href="[year:link]">[year:name]</a>{/maccms:year}</dd>
                        </dl>
                        <dl class="cleafix hidden-sm">
                            <dt class="text-muted">按地区</dt>
                            <dd class="clearfix">{maccms:area type=auto}<a href="[area:link]">[area:name]</a>{/maccms:area}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="hy-layout clearfix">
                <div class="hy-video-head">
                    <a href="{maccms:path}index.php?m=vod-list-id-{maccms:curvodtypeid}-by-time.html" class="text-muted pull-right">更多<i class="icon iconfont icon-right"></i></a>
                    <h3 class="margin-0">最近更新</h3>
                </div>
                <div class="hy-video-list cleafix">
                    <div class="item clearfix">{maccms:vod type={maccms:curvodtypeid} num=9 by=time order=desc}
                        <div class="col-md-2 col-sm-3 col-xs-4{if-A:[vod:num]>6} visible-sm hidden-md{if-B:[vod:num]>8} visible-sm hidden-md hidden-sm{endif-B}{endif-A}">
                            <a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="background: url({maccms:path_tpl}i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                <span class="play hidden-xs"></span>
                                <span class="score">{if-A:[vod:state]<1}[vod:remarks]{elseif-A:[vod:state]<1000 and [vod:state]>0}第[vod:state]集{elseif-A:[vod:state]>1000}[vod:state]期{elseif-A:[vod:state]=0 and "[vod:remarks]"=""}大结局{else-A}{endif-A}</span>
                            </a>
                            <div class="title">
                                <h5 class="text-overflow"><a href="[vod:link]">[vod:name]</a></h5>
                            </div>
                            <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                [vod:starring]
                            </div>
                        </div>{/maccms:vod}
                    </div>
                </div>
                <div class="hy-video-text-list hidden-xs clearfix">
                    <div class="item clearfix">
                        <ul class="clearfix">
                            {maccms:vod num=12 type={maccms:curvodtypeid} by=time start=10}
                            <li>
                                <div class="title text-overflow"><a href="[vod:link]" title="[vod:name]"><span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>[vod:name]</a></div>
                            </li>{/maccms:vod}
                        </ul>
                    </div>
                </div>
                <div class="hy-video-footer visible-xs clearfix">
                    <a href="{maccms:path}index.php?m=vod-list-id-{maccms:curvodtypeid}-by-time.html" class="text-muted">查看更多<i class="icon iconfont icon-right pull-right"></i></a>
                </div>
            </div>
            <div class="hy-layout clearfix">
                <div class="hy-video-head">
                    <a href="{maccms:path}index.php?m=vod-list-id-{maccms:curvodtypeid}-by-hits.html" class="text-muted pull-right">更多<i class="icon iconfont icon-right"></i></a>
                    <h3 class="margin-0">{page:name}</h3>
                </div>
                <div class="hy-video-list cleafix">
                    <div class="item clearfix">{maccms:vod num=9 by=dayhits type={maccms:curvodtypeid}}
                        <div class="col-md-2 col-sm-3 col-xs-4{if-A:[vod:num]>6} visible-sm hidden-md{if-B:[vod:num]>8} visible-sm hidden-md hidden-sm{endif-B}{endif-A}">
                            <a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="background: url({maccms:path_tpl}i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">{if-A:[vod:state]<1}[vod:remarks]{elseif-A:[vod:state]<1000 and [vod:state]>0}第[vod:state]集{elseif-A:[vod:state]>1000}[vod:state]期{elseif-A:[vod:state]=0 and "[vod:remarks]"=""}大结局{else-A}{endif-A}</span></a>
                            <div class="title"><h5 class="text-overflow"><a href="[vod:link]">[vod:name]</a></h5></div>
                            <div class="subtitle text-muted text-muted text-overflow hidden-xs">[vod:starring]</div>
                        </div>{/maccms:vod}
                    </div>
                </div>
                <div class="hy-video-footer visible-xs clearfix"><a href="{maccms:path}index.php?m=vod-list-id-{maccms:curvodtypeid}-by-hits.html" class="text-muted">查看更多<i class="icon iconfont icon-right pull-right"></i></a></div>
            </div>
            {maccms:matrix type={maccms:curvodtypeid}} {maccms:menu parent=[matrix:id] order=asc table=vod}
            <div class="hy-layout clearfix">
                <div class="hy-video-head">
                    <a href="{maccms:path}index.php?m=vod-list-id-[menu:id]-by-hits.html" class="text-muted pull-right">更多<i class="icon iconfont icon-right"></i></a>
                    <h3 class="margin-0">[menu:name]</h3>
                </div>
                <div class="hy-video-list cleafix">
                    <div class="item clearfix">{maccms:vod num=9 type=[menu:id] by=hits order=desc table=vod} 
                        <div class="col-md-2 col-sm-3 col-xs-4{if-A:[vod:num]>6} visible-sm hidden-md{elseif-A:[vod:num]>8} visible-sm hidden-md hidden-sm{endif-A}">
                            <a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="background: url({maccms:path_tpl}i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">{if-A:[vod:state]<1}[vod:remarks]{elseif-A:[vod:state]<1000 and [vod:state]>0}第[vod:state]集{elseif-A:[vod:state]>1000}[vod:state]期{elseif-A:[vod:state]=0 and "[vod:remarks]"=""}大结局{else-A}{endif-A}</span></a>
                            <div class="title"><h5 class="text-overflow"><a href="[vod:link]">[vod:name]</a></h5></div>
                            <div class="subtitle text-muted text-muted text-overflow hidden-xs">[vod:starring]</div>
                        </div>{/maccms:vod}
                    </div>
                </div>
                <div class="hy-video-footer visible-xs clearfix"><a href="{maccms:path}index.php?m=vod-list-id-[menu:id]-by-hits.html" class="text-muted">查看更多<i class="icon iconfont icon-right pull-right"></i></a></div>
            </div>{/maccms:menu} {/maccms:matrix}
            <div class="hy-layout clearfix" id="lista">
                <div class="hy-switch-tabs active clearfix"><span class="text-muted pull-right hidden-xs">共有<span class="text-color">“{page:datacount}”</span>个影片,当前第<span class="text-color">“{page:now}”</span>页</span>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#list1" data-toggle="tab">按时间</a></li>
                        <li><a href="#list2" data-toggle="tab">按人气</a></li>
                        <li><a href="#list3" data-toggle="tab">按推荐</a></li>
                    </ul>
                </div>
                <div class="hy-video-list">
                    <div class="item tab-content">
                        <ul class="clearfix tab-pane fade in active" id="list1">{maccms:vod num=36 pagesize=36 by=time order=desc}
                            <li class="col-md-2 col-sm-3 col-xs-4"><a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="background: url({maccms:path_tpl}i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span></a>
                                <div class="title"><h5 class="text-overflow"><a href="[vod:link]">[vod:name]</a></h5></div>
                                <div class="subtitle text-muted text-overflow hidden-xs">[vod:starring]</div>
                            </li>{/maccms:vod}
                        </ul>
                        <ul class="clearfix tab-pane fade in" id="list2">{maccms:vod num=36 pagesize=36 by=hits order=desc}
                            <li class="col-md-2 col-sm-3 col-xs-4"><a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="background: url([vod:pic]) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span></a>
                                <div class="title"><h5 class="text-overflow"><a href="[vod:link]">[vod:name]</a></h5></div>
                                <div class="subtitle text-muted text-overflow hidden-xs">[vod:starring]</div>
                            </li>{/maccms:vod}
                        </ul>
                        <ul class="clearfix tab-pane fade in" id="list3">{maccms:vod num=36 pagesize=36 by=score order=desc}
                            <li class="col-md-2 col-sm-3 col-xs-4"><a class="videopic lazy" href="[vod:link]" title="[vod:name]" data-original="[vod:pic]" style="background: url([vod:pic]) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span></a>
                                <div class="title"><h5 class="text-overflow"><a href="[vod:link]">[vod:name]</a></h5></div>
                                <div class="subtitle text-muted text-overflow hidden-xs">[vod:starring]</div>
                            </li>{/maccms:vod}
                        </ul>
                    </div>
                </div>{if-A:{page:count}>1}
                <div class="hy-page clearfix">{maccms:pages len=6}</div>{endif-A}
            </div>
        </div>
    </div>
{maccms:foot}
</body>
</html>