<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{page:name}-{maccms:name}</title>
    <meta name="keywords" content="{maccms:keywords}" />
    <meta name="description" content="{maccms:description}" />
    {maccms:include}
</head>

<body>
{maccms:head}
    <!--main-->
    <div class="container">
        <div class="row">
            <div class="hy-layout clearfix" id="lista">
                <div class="hy-switch-tabs active clearfix"><span class="text-muted pull-right hidden-xs">共有<span class="text-color">“{page:datacount}”</span>个影片,当前第<span class="text-color">“{page:now}”</span>页</span>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#list1" data-toggle="tab">最新{page:name}</a></li>
                    </ul>
                </div>
                <div class="hy-video-list">
                    <div class="item tab-content">
                        <ul class="clearfix tab-pane fade in active" id="list1">{maccms:vod num=18 pagesize=36 by=time order=desc}
                            <li class="col-md-2 col-sm-3 col-xs-4"><a class="videopic lazy" href="[vod:link]" target="_blank" title="[vod:name]" data-original="[vod:pic]" style="background: url({maccms:path_tpl}i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span></a>
                                <div class="title" style="text-align:center"><h5 class="text-overflow"><a href="[vod:link]">[vod:name]</a></h5></div>
                            </li>{/maccms:vod}
                        </ul>

                    </div>
                </div>{if-A:{page:count}>1}
                <div class="hy-page clearfix">{maccms:pages len=6}</div>{endif-A}
            </div>
        </div>
    </div>
{maccms:foot}
</body>
</html>