<!--微信提示在浏览器中打开-->
<script type="text/javascript">
		function is_weixin() {
		    var ua = navigator.userAgent.toLowerCase();
		    if (ua.match(/MicroMessenger/i) == "micromessenger") {
		        return true;
		    } else {
		        return false;
		    }
		}
		var isWeixin = is_weixin();
		var winHeight = typeof window.innerHeight != 'undefined' ? window.innerHeight : document.documentElement.clientHeight;
		console.log(winHeight);
		function loadHtml(){
			var div = document.createElement('div');
			div.id = 'weixin-tip';
			div.innerHTML = '<p><img src="{maccms:path_tpl}images/live_weixin.png" alt="微信打开" style="max-width: 100%; height: auto;"/></p>';
			document.body.appendChild(div);
		}
		
		function loadStyleText(cssText) {
	        var style = document.createElement('style');
	        style.rel = 'stylesheet';
	        style.type = 'text/css';
	        try {
	            style.appendChild(document.createTextNode(cssText));
	        } catch (e) {
	            style.styleSheet.cssText = cssText; //ie9以下
	        }
            var head=document.getElementsByTagName("head")[0]; //head标签之间加上style样式
            head.appendChild(style); 
	    }
	    var cssText = "#weixin-tip{position: fixed; left:0; top:0; background: rgba(0,0,0,0.8); filter:alpha(opacity=80); width: 100%; height:100%; z-index: 9999;} #weixin-tip p{text-align: center; margin-top: 10%; padding:0 5%;}";
		if(isWeixin){
			loadHtml();
			loadStyleText(cssText);
		}
	</script>
<!--微信提示在浏览器中打开END-->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>	
</body>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?227f7133c776ba65962d9d983d3b4eaa":"https://jspassport.ssl.qhimg.com/11.0.1.js?227f7133c776ba65962d9d983d3b4eaa";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>

 <div class="tabbar visible-xs">
        <a href="{maccms:path}" class="item{if-A:{maccms:siteaid}==10} active{endif-A}"><i class="icon iconfont icon-home"></i><p class="text">首页</p></a>
        {maccms:menu type=1,2,3,4 table=vod}<a class="item{if-A:{maccms:curvodtypeid}==[menu:id]} active {endif-A}{if-A:{maccms:curvodtypepid}==[menu:id]} active {endif-A}{if-A:[menu:id]=[vod:typepid]} active{endif-A}" href="[menu:link]"><i class="icon iconfont{if-A:[menu:id]==1} icon-film{endif-A}{if-A:[menu:id]==2} icon-show{endif-A}{if-A:[menu:id]==3} icon-flag{endif-A}{if-A:[menu:id]==4} icon-mallanimation{endif-A}"></i><p class="text">[menu:name] </p></a>{/maccms:menu}
    </div>
    <div class="container">
        <div class="row">
            <div class="hy-footer clearfix">
                <p class="text-muted hidden-sm hidden-xs">本网站内容收集于互联网，{maccms:name}不承担任何由于内容的合法性及健康性所引起的争议和法律责任。 欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。</p>
                <p class="text-muted">Copyright @ 2017 {maccms:name} - {maccms:url}</p>
            </div>
        </div>
    </div>
    <div class="backup hidden-sm"><i class="iconfont icon-uparrow"></i></div>
    <span style="display:none">{maccms:visits}</span>