	<link rel="stylesheet" href="{maccms:path_tpl}css/aui.css" />
	<link rel="stylesheet" href="{maccms:path_tpl}css/swiper.min.css" />
	<link rel="stylesheet" href="{maccms:path_tpl}css/main.css" />
	<script type="text/javascript" src="{maccms:path_tpl}css/iconfont.js" ></script>
    <script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
        <style type="text/css">
    .icon {
     width: 1em; height: 0.8em;
     font-size: 1.6rem;
     vertical-align: -0.15em;
     fill: currentColor;
     overflow: hidden;
}
    .icono {
     width: 1em; height: 0.8em;
     font-size: 1.6rem;
      color:#212121;
     vertical-align: -0.15em;
     fill: currentColor;
     overflow: hidden;
}
</style>
 