<!DOCTYPE html><html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>[vod:name]_电视剧_高清全集在线观看_迅雷下载-{maccms:name}</title>
<meta name="keywords" content="[vod:name],[vod:name]在线观看,[vod:name]下载,[vod:name]全集"/>
<meta name="description" content="[vod:name]在线观看和青云志高清全集迅雷下载由{maccms:name}整理提供。[vod:contenttext len=20]。"/>
<meta property="og:type" content="videolist"/>
<meta property="og:title" content="[vod:name]"/>
<meta property="og:video:area" content="[vod:area]"/>
<meta property="og:video:language" content="国语"/>
<meta property="og:video:class" content="电视剧"/>
<meta property="og:video:director" content="[vod:directed]"/>
<meta property="og:video:actor" content="[vod:starring]"/>
<meta property="og:video:update_date" content="[vod:year]"/>
<meta property="og:video:score" content="0.0"/>
<meta property="og:video:base_score" content="0"/>
<meta property="og:description" content="[vod:contenttext]"/>
<link href="{maccms:path_tpl}css/xunlei.css" rel="stylesheet">
{maccms:include}
</head>
<body>
{maccms:head}[vod:history]
<div class="wrap">
  <div class="title1">[vod:textlink]</div>
  <div class="con"></div>
  <div class="con">
    <div class="row clearfix">
      <div class="content clearfix">
        <div class="img">
          <img src="[vod:pic]" alt="[vod:name]"> <span class="db"><i class="il">评分:[vod:score]</i><i class="ir">备注:[vod:remarks]</i> </span>
        </div>
        <div class="info">
          <dl>
            <dt>主演：</dt>
            <dd>[vod:starring len=45]</dd>
          </dl>
          <dl class="dl-left mb-dl-left">
            <dt>状态：</dt>
            <dd>[vod:remarks]</dd>
          </dl>
          <dl class="dl-right mb-dl-right">
            <dt>备注：</dt>
            <dd>[vod:remarks]</dd>
          </dl>
          <dl class="dl-left">
            <dt>类型：</dt>
            <dd>[vod:typename]</dd>
          </dl>
          <dl class="dl-right mb-dl-left">
            <dt>导演：</dt>
            <dd>[vod:directed]</dd>
          </dl>
          <dl class="dl-left mb-dl-right">
            <dt>地区：</dt>
            <dd>[vod:area]</dd>
          </dl>
          <dl class="dl-right mb-dl-left">
            <dt>年份：</dt>
            <dd>[vod:year]</dd>
          </dl>
          <dl class="dl-right mb-dl-right">
            <dt>TAG：</dt>
            <dd>[vod:tag]</dd>
          </dl>
          <dl class="dl-left">
            <dt>时间：</dt>
            <dd>[vod:addtime style=yy-m-d]</dd>
          </dl>
          <dl class="dl-left mb-r">
            <div class="bdsharebuttonbox">
              <a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
            </div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

          </dl>
          <a class="ico play" href="[vod:playlink]">立即播放</a> 
        </div>
        <div class="cr">
          <div class="starpf">
            <span>评分：</span>
            
          </div>
          <div class="crdown">
            [vod:scoremark2]
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 开始 -->
  <div class="con">
    <div class="row clearfix">
     <div class="row-l">
     <!-- 播放地址开始 -->
{maccms:play}
      <div class="playlist" id="play">
       <div class="stit clearfix">
        <div class="intro">
         支持手机观看
        </div>
        <div class="from">
         播放源
         <i class="ico sjxx"></i>
        </div>
       </div>
       <ul class="ulli clearfix">
        <div class="tab_1 col">
         <ul class="colul clearfix">
              <li id="tab_11"  class="on"  onclick="setTab('tab_1','stab_1',1,10)"><i>[play:show]</i></li>
         </ul>
        </div>
        <!-- 列表开始 -->
        <div id="stab_11" class="stab_list" >
          <ul class="clearfix">
  {maccms:url order=asc}
          <li><a title='[url:name]' href='[url:link]' target="_blank">[url:name]</a></li>
           {/maccms:url} </ul>
        </div>
        <!-- 列表结束 -->
       </ul> 
      </div> {/maccms:play}
          <!-- 播放结束 -->
<div id="content-B"></div>
      <!-- 下载开始 -->
      
      <div class="playlist" id="downcontent">
        <div class="downh">
			{maccms:down}
			<h4>下载地址[down:num]<i class="downico"></i></h4>
			{/maccms:down}
        </div>
		<div class="downlist">
          {maccms:down}
          <div class="downcontent">
          	<div class="snvtvb"><span class="snvd">[down:show]版本说明：</span>[BD / HD：高清版] [DVD：标准清晰版] [TC：抢先清晰版] [TS：抢先非清晰版] - BD和HD版本不适合4M以下宽带和网速过慢用户下载</div>
            {maccms:url order=asc}
			<ul id="downul_[down:num]">
             <data var="[url:name]$[url:path]"></data>
            </ul>
         {/maccms:url}
            <div class="downtools">
             <input type="checkbox" name="checkall" onclick="CheckAll([down:num])" id="allcheck[down:num]" />
             <em>全选/反选</em>
             <a class="thunder_down_all" target="_self" href="javascript:thunder_down_all([down:num]);">迅雷批量下载</a>
             <a class="xf_down_all" target="_self" href="javascript:xf_down_all([down:num]);">旋风批量下载</a>
            </div>
          </div>
          {/maccms:down}
        </div>
        <!-- 下载结束 -->
      <div class="cdes" id='plot'>
       <div class="ctit clearfix">
        <span class="name">剧情介绍<i class="ico sjxx"></i></span>
       </div>
       <div class="cdes1">
       <p>电视剧《[vod:name]》是由导演[vod:directed]和主演团队[vod:starring]的经典[vod:typename]节目。[vod:name]的剧情介绍：[vod:contenttext]</p>
       </div>
      </div>
      <div id="pl" class="pl">
        <div class="cdes">
        <div class="ctit clearfix">
          <span class="name">发表评论<i class="ico sjxx"></i></span>
         </div>
        <!--评论代码开始-->
<!-- 多说评论框 start --> <div class="ds-thread" data-thread-key="0" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div> <!-- 多说评论框 end --> <!-- 多说公共JS代码 start (一个网页只需插入一次) --> <script type="text/javascript"> var duoshuoQuery = {short_name:"ww9k"}; (function() { var ds = document.createElement('script'); ds.type = 'text/javascript';ds.async = true; ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js'; ds.charset = 'UTF-8'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds); })(); </script> <!-- 多说公共JS代码 end --> 
          <!-- 评论结束 -->
        </div>
      </div>
     </div>
     </div>
     <div class="row-r mb-r">
      <div class="random">
       <div class="tab3 stit clearfix">
        <ul>
         <li id="tab31" class="on" onclick="setTab('tab3','stab3',1,3)">你喜欢<i class="ico sjxx"></i></li>
         <li id="tab32" onclick="setTab('tab3','stab3',2,3)">同主演<i class="ico sjxx"></i></li>
         <li id="tab33" onclick="setTab('tab3','stab3',3,3)">同导演<i class="ico sjxx"></i></li>
        </ul>
       </div>
       <ul class="ul clearfix" id="stab31">
           {maccms:vod num=10 order=desc  type=[vod:typename]}
            <li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a class="jqr" href="[vod:link]" title="[vod:name]"><i class="bz">[vod:remarks]</i><i class="ico num">[vod:num]</i>[vod:name]
				<div class="lidown  clearfix">
					<div class="lidown-l">
				<img src="[vod:pic]" alt="[vod:name]"><span class="ico scorebg"><b>[vod:score]</b></span>
				</div>
						<div class="lidown-r">
			<p>
					[vod:starring len=10]
				</p>
				<p>
			[vod:area]
			</p>
			<p>
				[vod:year]
				</p>
			</div>
			</div>
			</a></li>{/maccms:vod}
        </ul>
       <ul class="ul clearfix" id="stab32" style="display:none;">
            
            {maccms:vod num=10 order=desc  type=all similar=starring}
            <li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a class="jqr" href="[vod:link]" title="[vod:name]"><i class="bz">[vod:remarks]</i><i class="ico num">[vod:num]</i>[vod:name]
				<div class="lidown  clearfix">
					<div class="lidown-l">
				<img src="[vod:pic]" alt="[vod:name]"><span class="ico scorebg"><b>[vod:score]</b></span>
				</div>
						<div class="lidown-r">
			<p>
					[vod:starring len=10]
				</p>
				<p>
			[vod:area]
			</p>
			<p>
				[vod:year]
				</p>
			</div>
			</div>
			</a></li>{/maccms:vod}
          
       </ul>
       <ul class="ul clearfix" id="stab33" style="display:none;">
             
          {maccms:vod num=10 order=desc  type=all similar=directed}
            <li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a class="jqr" href="[vod:link]" title="[vod:name]"><i class="bz">[vod:remarks]</i><i class="ico num">[vod:num]</i>[vod:name]
				<div class="lidown  clearfix">
					<div class="lidown-l">
				<img src="[vod:pic]" alt="[vod:name]"><span class="ico scorebg"><b>[vod:score]</b></span>
				</div>
						<div class="lidown-r">
			<p>
					[vod:starring len=10]
				</p>
				<p>
			[vod:area]
			</p>
			<p>
				[vod:year]
				</p>
			</div>
			</div>
			</a></li>{/maccms:vod}
               </ul>
      </div>
     </div>
    </div>
   </div>
  <!-- 结束 -->
  <p style="display:none;">
    <span id="hit">加载中...</span>
  </p>
</div>
<script type="text/javascript">var playlen=1,downlen=1</script>
<script src="{maccms:path_tpl}js/down.js"></script>
<script src="{maccms:path_tpl}js/echo.js"></script>
{maccms:foot}
</body>
</html>