<!DOCTYPE html><html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>手机MP4电影下载_手机电影天堂_高清电影下载-{maccms:name}</title>
<meta name="keywords" content="电影天堂,手机电影下载,高清电影下载,mp4电影下载"/>
<meta name="description" content="{maccms:name}为各位影迷提供最新电影下载、手机电影下载、高清电影下载，所有电影、电视剧等资源均采用高清BD、HD格式压制，所有高清电影同时支持在线观看以及手机端在线播放，我们不存储影片，只做分享高清电影的搬运工！"/>
{maccms:include}
</head>
<body>
{maccms:head}
<div class="wrap">
<div class="con">
<div class="row clearfix">
<div class="row-l">
<div class="stit itit clearfix">
<span class="name">热播推荐<i class="ico sjxx"></i></span>
</div>
<ul class="ul clearfix">
{maccms:vod num=9  by=days level=1,2,3,4,5  order=desc type=all}
<li><a class="link" href="[vod:link]" title="[vod:name]">
<div class="img">
<img class="lazy" data-original="[vod:pic]" src="{maccms:path_tpl}images/lazyload.gif" alt="[vod:name]"><span class="bgb"><i class="bgbbg"></i>
<p class="name">
[vod:remarks]
</p>
<p class="other">
主演：[vod:starring]
</p>
<p class="other">
地区/年代：[vod:area]/[vod:year]
</p>
</span><i class="bg0"></i>
</div>
<div class="text">
<p class="name">
[vod:name]
</p>
<p class="jq">[vod:typename]</p>
<div class="textdown">
<p class="name">
[vod:name]
</p>
<p class="jq">[vod:typename]</p>
</div>
</div>
</a></li>{/maccms:vod}
{maccms:vod num=1 start=10 order=desc by=days level=1,2,3,4,5 type=all} 
<li class="none10"><a class="link" href="[vod:link]" title="[vod:name]">
<div class="img">
<img class="lazy" data-original="[vod:pic]" src="{maccms:path_tpl}images/lazyload.gif" alt="[vod:name]"><span class="bgb"><i class="bgbbg"></i>
<p class="name">
[vod:remarks]
</p>
<p class="other">
主演：[vod:starring]
</p>
<p class="other">
地区/年代：[vod:area]/[vod:year]
</p>
</span><i class="bg0"></i>
</div>
<div class="text">
<p class="name">
[vod:name]
</p>
<p class="jq">[vod:typename]</p>
<div class="textdown">
<p class="name">
[vod:name]
</p>
<p class="jq">[vod:typename]</p>
</div>
</div>
</a></li>{/maccms:vod}

</ul>
</div>
<div class="mb-r row-r">
<div class="ihot-hit">
<ul class="tab10 stit clearfix">
<li id="tab105" class="on" onclick="setTab('tab10','stab10',5,5)">全部<i class="ico sjxx"></i></li>
<li id="tab101" onclick="setTab('tab10','stab10',1,5)">电影<i class="icosjxx"></i></li>
<li id="tab102" onclick="setTab('tab10','stab10',2,5)">电视剧<i class="icosjxx"></i></li>
<li id="tab103" onclick="setTab('tab10','stab10',3,5)">动漫<i class="icosjxx"></i></li>
<li id="tab104" onclick="setTab('tab10','stab10',4,5)">综艺<i class="icosjxx"></i></li>
</ul>
<ul class="ul-r" id="stab105">
{maccms:vod num=18 order=desc by=days type=all} 
<li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a href="[vod:link]" title="[vod:name]"><i class="bz"></i><span class="ico num">[vod:num]</span>[vod:name]</a></li>
{/maccms:vod}
</ul>
<ul class="ul-r" id="stab101" style="display:none;">
{maccms:vod num=18 order=desc by=days type=1} 
<li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a href="[vod:link]" title="[vod:name]"><i class="bz"></i><span class="ico num">[vod:num]</span>[vod:name]</a></li>
{/maccms:vod}
</ul>
<ul class="ul-r" id="stab102" style="display:none;">
{maccms:vod num=18 order=desc by=days type=2} 
<li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a href="[vod:link]" title="[vod:name]"><i class="bz"></i><span class="ico num">[vod:num]</span>[vod:name]</a></li>
{/maccms:vod}
</ul>
<ul class="ul-r" id="stab103" style="display:none;">
{maccms:vod num=18 order=desc by=days type=4} 
<li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a href="[vod:link]" title="[vod:name]"><i class="bz"></i><span class="ico num">[vod:num]</span>[vod:name]</a></li>
{/maccms:vod}
</ul>
<ul class="ul-r" id="stab104" style="display:none;">
{maccms:vod num=18 order=desc by=days type=3} 
<li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a href="[vod:link]" title="[vod:name]"><i class="bz"></i><span class="ico num">[vod:num]</span>[vod:name]</a></li>
{/maccms:vod}
</ul>
</div>
</div>
</div>
</div>
{maccms:matrix type=parent table=vod}
<div class="con">
<div class="row clearfix">
<div class="row-l">
<div class="stit itit clearfix">
<span class="name">[matrix:name]<i class="ico sjxx"></i></span>
</div>
<ul class="ul clearfix">
	{maccms:vod num=9 order=desc by=days type=[matrix:id]} 
<li><a class="link" href="[vod:link]" title="[vod:name]">
<div class="img">
<img class="lazy" data-original="[vod:pic]" src="{maccms:path_tpl}images/lazyload.gif" alt="[vod:name]"><span class="bgb"><i class="bgbbg"></i>
<p class="name">
[vod:remarks]
</p>
<p class="other">
主演：[vod:starring]
</p>
<p class="other">
地区/年代：[vod:area]/[vod:year]
</p>
</span><i class="bg0"></i>
</div>
<div class="text">
<p class="name">
[vod:name]
</p>
<p class="jq">[vod:typename]</p>
<div class="textdown">
<p class="name">
[vod:name]
</p>
<p class="jq">[vod:typename]</p>
</div>
</div>
</a></li>
{/maccms:vod}
{maccms:vod num=1 start=10 order=desc by=days type=[matrix:id]} 
<li class="none10"><a class="link" href="[vod:link]" title="[vod:name]">
<div class="img">
<img class="lazy" data-original="[vod:pic]" src="{maccms:path_tpl}images/lazyload.gif" alt="[vod:name]"><span class="bgb"><i class="bgbbg"></i>
<p class="name">
[vod:remarks]
</p>
<p class="other">
主演：[vod:starring]
</p>
<p class="other">
地区/年代：[vod:area]/[vod:year]
</p>
</span><i class="bg0"></i>
</div>
<div class="text">
<p class="name">
[vod:name]
</p>
<p class="jq">[vod:typename]</p>
<div class="textdown">
<p class="name">
[vod:name]
</p>
<p class="jq">[vod:typename]</p>
</div>
</div>
</a></li>
{/maccms:vod}
</ul>
</div>
<div class="mb-r row-r">
<ul class="tab1 stit clearfix">
<li id="tab[matrix:id]1" class="on" onclick="setTab('tab[matrix:id]','stab[matrix:id]',1,2)">热播榜<i class="icosjxx"></i></li>
<li id="tab[matrix:id]2" onclick="setTab('tab[matrix:id]','stab[matrix:id]',2,2)">评分榜<i class="ico sjxx"></i></li>
</ul>
<ul class="ul clearfix" id="stab[matrix:id]1">
{maccms:vod num=10 order=desc by=hits type=[matrix:id]} 
<li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a class="jqr" href="[vod:link]" title="[vod:name]"><i class="bz">[vod:remarks]</i><i class="ico num">[vod:num]</i>[vod:name len=10]
<div class="lidown clearfix">
<div class="lidown-l">
<img src="[vod:pic]" alt="[vod:name]"><span class="ico scorebg"><b>[vod:score]</b></span>
</div>
<div class="lidown-r">
<p>
[vod:starring len=10]
</p>
<p>
[vod:area]
</p>
<p>
[vod:year]
</p>
</div>
</div>
</a></li>{/maccms:vod}
</ul>
<ul class="ul clearfix" id="stab[matrix:id]2" style="display:none;">
{maccms:vod num=10  order=desc by=score type=[matrix:id]}
<li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a class="jqr" href="[vod:link]" title="[vod:name]"><i class="bz">[vod:remarks]</i><i class="ico num">[vod:num]</i>[vod:name]
<div class="lidown clearfix">
<div class="lidown-l">
<img src="[vod:pic]" alt="[vod:name]"><span class="ico scorebg"><b>[vod:score]</b></span>
</div>
<div class="lidown-r">
<p>
[vod:starring len=10]
</p>
<p>
[vod:area]
</p>
<p>
[vod:year]
</p>
</div>
</div>
</a></li>{/maccms:vod}
</ul>
</div>
</div>
</div>
{/maccms:matrix}
<div class="ylink">
<div class="trip">
友情链接
</div>
<ul class="ul clearfix">
{maccms:link type=font num=10}
<li><a href="[link:link]" target="_blank">[link:name]</a></li>
{/maccms:link}
</ul>
</div>
</div>
{maccms:foot}
</body>
</html>