<!DOCTYPE html><html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>{page:key}搜索结果-{maccms:name}</title>
<meta name="keywords" content="{page:key}"/>
<meta name="description" content="{page:key}搜索结果页面"/>
{maccms:include}
</head>
<body>
{maccms:head}
<div class="wrap">
<div class="channelall">
<div class="channelname clearfix">
搜索<i class="type">{page:key}</i>相关，我们为你找到了<i class="count">{page:datacount}</i>部影片
</div>
<div class="channeltab clearfix">
<div class="px">
<a class="{if-A:"{page:by}"="time"}on{endif-A}" href="{page:linkbytime}">最新<i class="ico sjxx"></i></a><a class="{if-A:"{page:by}"="hits"}on{endif-A}" href="{page:linkbyhits}">最热</a><a class="{if-A:"{page:by}"="score"}on{endif-A}" href="{page:linkbyscore}">好评</a>
</div>
</div>
</div>
<div class="search">
<ul class="sul clearfix">
{maccms:vod pagesize=30 type=current order=desc by=time}
<li><a class="link" href="[vod:link]" title="[vod:name]">
<div class="simg">
<div class="img">
<img class="lazy" id="[vod:link]" data-original="[vod:pic]" alt="[vod:name]" src="{maccms:path_tpl}images/lazyload.gif">
</div>
<span class="ico scorebg"><b>[vod:score]</b></span>
</div>
<div class="stext">
<p>
<span class="name">[vod:name]</span>
</p>
<p>
<span><em>备注：</em>[vod:remarks]</span>
</p>
<p>
<span><em>类型：</em>[vod:typename]</span>
</p>
<p>
<span><em>主演：</em>[vod:starring]</span>
</p>
<p>
<span><em>地区/年代：</em>[vod:area]/[vod:year]</span>
</p>
</div>
<i class="bg0"></i><span class="ico play">立即播放</span></a></li>{/maccms:vod}
</ul>
</div>
<div class="page clearfix">
{maccms:pages len=5}
</div>
</div>
{maccms:foot}
</body>
</html>