<!DOCTYPE html><html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>{page:name}下载_最新热门电影_高清电影在线观看-{maccms:name}网</title>
<meta name="keywords" content="{page:name}下载,热门{page:name},高清{page:name},最新{page:name}"/>
<meta name="description" content="{maccms:name}收集整理了最新热门{page:name}、高清{page:name}在线观看，内容丰富,资源优质,无需播放器同时还支持手机在线观看。最新高清{page:name}资源同时还支持电脑迅雷下载以及手机迅雷下载！"/>
{maccms:include}
</head>
{maccms:head}
<div class="wrap">
<div class="con">
<div class="row clearfix">
<div class="channelname">
在<a href="{maccms:path}" title="删除此条件"><i class="name">栏目：{page:name}<span>X</span></i><i class="name">年份：{page:year}<span>X</span></i></a>中，我们为你找到了<i class="count">{page:datacount}</i>部影片
</div>
<div class="row-r chr">
<div class="chtit clearfix">
<a href='{maccms:path}'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href='/movie/index.html'>电影</a>
</div>
<span class="slide"><i class="zk">＋展开</i><i class="sq">－收起</i></span>
<div class="select">
<div class="selectlist clearfix">
<div class="l">
栏目<i class="ico sjxx"></i>
</div>
<div class="r">
<ul class="ul-s clearfix">
{maccms:menu type=parent}
<li class="s"><a href="[menu:link]"><em style="{if-A:"{page:id}"="[menu:id]"}color: #f00;{endif-A}">[menu:name]</em></a></li>
{/maccms:menu}
</ul>
</div>
</div>
<div class="selectlist clearfix">
<div class="l">
分类<i class="ico sjxx"></i>
</div>
<div class="r">
<ul class="ul-s clearfix">
{maccms:class type=all order=asc num=5}
<li class="s"><a href="[class:link]"><em>[class:name]</em></a></li>
{/maccms:class}
</ul>
</div>
</div>
<div class="selectlist clearfix">
<div class="l">
年代<i class="ico sjxx"></i>
</div>
<div class="r">
<ul class="ul-s clearfix">
 {maccms:year type=auto start=2012 end=2016 order=desc}
<li class="s"><a href="[year:link]" style="{if-A:"{page:year}"="[year:name]"}color: #f00;{endif-A}"><em>[year:name]
</em></a></li>{/maccms:year}
{maccms:year type=auto start=2007 end=2011 order=desc}
<li><a href="[year:link]" style="{if-A:"{page:year}"="[year:name]"}color: #f00;{endif-A}"><em>[year:name]
</em></a></li>{/maccms:year}

</ul>
</div>
</div>
<div class="selectlist clearfix">
<div class="l">
地区<i class="ico sjxx"></i>
</div>
<div class="r">
<ul class="ul-s clearfix">
 {maccms:area type=auto order=asc }
<li class="s"><a href="[area:link]" style="{if-A:"{page:area}"="[area:name]"}color: #f00;{endif-A}"><em>[area:name]
</em></a></li>{/maccms:area}

</ul>
</div>
</div>

</div>
<div class="crlist">
<ul class="ul clearfix">
{maccms:vod num=10 order=desc by=score type=all} 
<li class="{if-A:[vod:num]%2==0 }t{endif-A}"><a class="jqr" href="[vod:link]" title="[vod:name]"><i class="bz">[vod:remarks]</i><i class="ico num">[vod:num]</i>[vod:name]
<div class="lidown clearfix">
<div class="lidown-l">
<img src="[vod:pic]" alt="[vod:name]"><span class="ico scorebg"><b>[vod:score]</b></span>
</div>
<div class="lidown-r">
<p>
</p>
<p>
[vod:area]
</p>
<p>
[vod:year]
</p>
</div>
</div>
</a></li>{/maccms:vod}
</ul>
</div>
</div>
<div class="row-l">
<div class="channelall">
<div class="channeltab clearfix">
<div class="px">
<a class="{if-A:"{page:by}"="time"}on{endif-A}" href="{page:linkbytime}">最新<i class="ico sjxx"></i></a><a class="{if-A:"{page:by}"="hits"}on{endif-A}" href="{page:linkbyhits}">最热</a><a class="{if-A:"{page:by}"="score"}on{endif-A}" href="{page:linkbyscore}">好评</a>
</div>
<div class="sx">
<a href="/movie/index0.html">上一页</a><a href="/movie/index2.html">下一页</a>
</div>
</div>
</div>
<div class="channel">
<ul class="ul clearfix">
{maccms:vod pagesize=25 order=desc by=time}
<li><a class="link" href="[vod:link]" title="[vod:name]">
<div class="img">
<img class="lazy" data-original="[vod:pic]" src="{maccms:path_tpl}images/lazyload.gif" alt="[vod:name]"><span class="bgb"><i class="bgbbg"></i>
<p class="name">
[vod:remarks]
</p>
<p class="other">
主演：[vod:starring]
</p>
<p class="other">
地区/年代：[vod:area]/[vod:year]
</p>
</span><i class="bg0"></i>
</div>
<div class="text">
<p class="name">
[vod:name]
</p>
<p class="jq">[vod:typename]&nbsp;</p>
<div class="textdown">
<p class="name">
[vod:name]
</p>
<p class="jq">
</p>
</div>
</div>
</a></li>{/maccms:vod}

</ul>
</div>
<div class="page clearfix">
{maccms:pages len=5}

</div>
</div>
</div>
</div>
</div>
{maccms:foot}
</body>
</html>